(
    id: "supply_crate",
    palette_id: "contra_palette",
    pieces: [
        (
            tile_index: 16,
            x: 0,
            y: 0,
            palette_slot: 0,
            h_flip: false,
            v_flip: false,
        ),
        (
            tile_index: 16,
            x: 8,
            y: 0,
            palette_slot: 0,
            h_flip: false,
            v_flip: false,
        ),
        (
            tile_index: 17,
            x: 0,
            y: 8,
            palette_slot: 0,
            h_flip: false,
            v_flip: false,
        ),
        (
            tile_index: 17,
            x: 8,
            y: 8,
            palette_slot: 0,
            h_flip: false,
            v_flip: false,
        ),
    ],
)
