(
    id: "default_palette",
    name: "Proto Stage",
    colors: [
        (
            r: 12,
            g: 24,
            b: 48,
            a: 255,
        ),
        (
            r: 122,
            g: 210,
            b: 255,
            a: 255,
        ),
        (
            r: 248,
            g: 250,
            b: 255,
            a: 255,
        ),
        (
            r: 32,
            g: 65,
            b: 105,
            a: 255,
        ),
        (
            r: 165,
            g: 184,
            b: 201,
            a: 255,
        ),
        (
            r: 84,
            g: 102,
            b: 129,
            a: 255,
        ),
        (
            r: 255,
            g: 214,
            b: 80,
            a: 255,
        ),
        (
            r: 230,
            g: 70,
            b: 72,
            a: 255,
        ),
        (
            r: 196,
            g: 156,
            b: 92,
            a: 255,
        ),
    ],
)