(
    id: "intro_stage",
    kind: SideScroller,
    size_tiles: (
        width: 16,
        height: 8,
    ),
    chunk_size_tiles: (
        width: 16,
        height: 8,
    ),
    background_color_index: 0,
    layers: [
        (
            id: "bg",
            tileset_id: "default_tiles",
            visible: true,
            parallax_x: 1,
            parallax_y: 1,
            tiles: [
                0,
                0,
                0,
                7,
                7,
                0,
                0,
                0,
                0,
                0,
                7,
                7,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                9,
                9,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                3,
                0,
                8,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                4,
                0,
                0,
                0,
                0,
                1,
                3,
                0,
                8,
                0,
                0,
                4,
                4,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                5,
                0,
                0,
                0,
                8,
                0,
                0,
                0,
                0,
                6,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                0,
                0,
                0,
                1,
                1,
                1,
                1,
                1,
                1,
                2,
                2,
                2,
                2,
                2,
                2,
                2,
                0,
                0,
                0,
                2,
                2,
                2,
                2,
                2,
                2,
            ],
        ),
    ],
    collision: (
        solids: [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            true,
            false,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            true,
            true,
            true,
            true,
            true,
            true,
        ],
        ladders: [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
        ],
        hazards: [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
        ],
    ),
    spawns: [
        (
            id: "start",
            position: (
                x: 16,
                y: 40,
            ),
        ),
    ],
    checkpoints: [
        (
            id: "midpoint",
            position: (
                x: 72,
                y: 40,
            ),
        ),
    ],
    entities: [
        (
            id: "npc_guide",
            archetype: "guide_bot",
            position: (
                x: 28,
                y: 36,
            ),
            facing: Right,
            kind: Prop,
            hitbox: (
                x: 0,
                y: 0,
                width: 16,
                height: 16,
            ),
            movement: r#None,
            combat: (
                max_health: 0,
                contact_damage: 0,
            ),
            action: r#None,
            active: true,
            one_shot: false,
        ),
        (
            id: "health_capsule_a",
            archetype: "small_health_pickup",
            position: (
                x: 40,
                y: 36,
            ),
            facing: Right,
            kind: Pickup,
            hitbox: (
                x: 0,
                y: 0,
                width: 12,
                height: 12,
            ),
            movement: r#None,
            combat: (
                max_health: 0,
                contact_damage: 0,
            ),
            action: HealPlayer(
                amount: 4,
            ),
            active: true,
            one_shot: true,
        ),
        (
            id: "met_patrol_a",
            archetype: "met_enemy",
            position: (
                x: 72,
                y: 36,
            ),
            facing: Left,
            kind: Enemy,
            hitbox: (
                x: 2,
                y: 2,
                width: 12,
                height: 14,
            ),
            movement: Patrol(
                left_offset: -16,
                right_offset: 12,
                speed: 1,
            ),
            combat: (
                max_health: 2,
                contact_damage: 1,
            ),
            action: r#None,
            active: true,
            one_shot: false,
        ),
        (
            id: "floor_switch_a",
            archetype: "floor_switch",
            position: (
                x: 104,
                y: 38,
            ),
            facing: Right,
            kind: Switch,
            hitbox: (
                x: 0,
                y: 0,
                width: 8,
                height: 8,
            ),
            movement: r#None,
            combat: (
                max_health: 0,
                contact_damage: 0,
            ),
            action: SetEntityActive(
                target_entity_id: "blast_door_a",
                active: false,
            ),
            active: true,
            one_shot: true,
        ),
        (
            id: "blast_door_a",
            archetype: "blast_door",
            position: (
                x: 112,
                y: 36,
            ),
            facing: Right,
            kind: Solid,
            hitbox: (
                x: 0,
                y: 0,
                width: 8,
                height: 16,
            ),
            movement: r#None,
            combat: (
                max_health: 0,
                contact_damage: 0,
            ),
            action: r#None,
            active: true,
            one_shot: false,
        ),
    ],
    triggers: [
        (
            id: "goal",
            kind: Touch,
            rect: (
                x: 120,
                y: 8,
                width: 8,
                height: 48,
            ),
            script_id: "stage_clear",
        ),
    ],
    scripts: [
        (
            id: "start_dialogue",
            commands: [
                FreezePlayer(
                    frozen: true,
                ),
                ShowDialogue(
                    dialogue_id: "intro",
                    node_id: None,
                ),
                FreezePlayer(
                    frozen: false,
                ),
            ],
        ),
        (
            id: "stage_clear",
            commands: [
                EmitCheckpoint(
                    checkpoint_id: "midpoint",
                ),
                SetFlag(
                    flag: "intro_stage_clear",
                    value: true,
                ),
            ],
        ),
    ],
)